@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes float {
  0% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0);
  }
}

.picture {
  animation: float 3s ease-in-out infinite;
}

.bg-rgba-104-207-255 {
  background: rgba(104, 207, 255, 0.8);
}

.blur-30 {
  filter: blur(30px);
}

.opacity-90 {
  opacity: 0.9;
}

.bg-rgba-104-207-256 {
  background: rgba(104, 207, 255, 0.8);
}

.blur-40 {
  filter: blur(100px);
}


.opacity-100 {
  opacity: 0.9;
}

.bg-rgba-104-207-257 {
  background: rgba(104, 207, 255, 0.8);
}

.blur-50 {
  filter: blur(100px);
}


.opacity-110 {
  opacity: 0.30;
}

.bg-rgba-104-207-258 {
  background: rgba(255, 255, 255, 0.508);
}

.blur-60 {
  filter: blur(100px);
}


.opacity-120 {
  opacity: 0.30;
}


.icon-round {
  width: 32px; /* Ajusta el tamaño según tus necesidades */
  height: 32px; /* Ajusta el tamaño según tus necesidades */
  border-radius: 100%;
}



body {
  font-family: sans-serif;
  font-size: 1.5rem;
}

img {
  max-width: 50vw;
  max-height: 25vw;
  display: block;
  margin: auto;
}


form {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  flex-flow: row wrap;
  max-width: 40vw;
  margin: auto;
  align-items: baseline;
}

button[type="submit"] {
  padding: 5px 20px;
  margin: 10px auto;
  float: right;
}

#greeting {
  margin: 10px auto;
  padding: 10px 60px;
  border: 1px solid #222;
}

#greeting:empty {
  display: none;
}


/* index.css */
.hide-scroll-bar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}



@media (max-width: 640px) {
  .rotate-50 {
    transform: rotate(50deg);
  }
}

